.section-general__accordion {
  position: relative;
  margin-bottom: 6rem;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }

  &--wrapper {
    position: initial;
  }

  &--toggle {
    font-size: 1.8rem;
    line-height: 1.75;
    font-weight: bold;
    color: $accent;
    padding-bottom: 1.6rem;
    width: 100%;
    transition: $transition;
    position: relative;
    text-decoration: none;

    @include media-breakpoint-up(xl) {
      font-size: 2.4rem;
    }

    &::before {
      content: "";
      left: -2.8rem;
      opacity: 0;
      top: 0;
      height: calc(100% - 1.6rem);
      width: 14px;
      position: absolute;
      transition: $transition;
      background: url("../images/Opsommingsteken\ kruis.svg") no-repeat center;
    }

    &::after {
      content: "";
      right: 0;
      top: 0;
      height: calc(100% - 1.6rem);
      width: 14px;
      position: absolute;
      transition: $transition;
      mask: url("../images/chevron_down.svg") no-repeat center;
      mask-size: contain;
      background-color: $dark;

      @include media-breakpoint-up(xl) {
        content: none;
      }
    }

    &[aria-expanded=true] {
      pointer-events: none;
    }

    &:not(.collapsed) {
      margin-bottom: 3.6rem;
      color: $dark;
      border-bottom: 1px solid $accent;
      padding-left: 2.8rem;

      @include media-breakpoint-up(xl) {
        border-bottom: none;
        margin-bottom: 0;
      }

      &::before {
        left: 0;
        opacity: 1;
      }

      &::after {
        background-color: $accent;
        transform: rotate(180deg);
      }
    }
  }

  &--content {
    &.collapsing {
      transition: none;
    }

    p,
    a {
      font-size: 1.8rem;
      line-height: 1.75;
      color: $dark;
      margin-bottom: 0;
    }

    a {
      display: block;
      padding-left: 2.8rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        background: url("../images/Call\ icon.svg");
        background-size: contain;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .hours {
      margin-top: 3.2rem;
    }

    .hours,
    .accessibility {
      margin-bottom: 3.2rem;
      white-space: nowrap;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
    }
  }

  &--image {
    border-radius: 90%;
  }
}
