.section-specialism {
  position: relative;
  top: 0;
  z-index: 0;
  margin-bottom: 0;

  &__col {
    top: 0;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 13.2rem;

    & > .row {
      @include media-breakpoint-up(xl) {
        padding-left: 8.3333%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -12rem;
      width: 100vw;
      height: calc(100% + 12rem);
      background-color: $light;

      @include media-breakpoint-up(xl) {
        height: calc(100% + 14.4rem);
        top: -14.4rem;
        left: 0;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 10;
    top: 2.4rem;
    margin-bottom: 7.2rem;
  }

  &__card {
    padding: 1.6rem;
    background-color: $white;
    box-shadow: 0 1px 26px 0 rgba(28, 32, 41, 0.16);
  }

  &__wrapper {
    margin-bottom: 8rem;
  }

  &__content {
    min-height: 16.8rem;
    position: relative;

    &--name {
      position: relative;
      top: 0;
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 2.4rem;
    }

    &--mail {
      position: absolute;
      bottom: 0;

      a {
        font-size: 1.6rem;
        padding-left: 2.4rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1.4rem;
          height: 1.4rem;
          background-image: url("../images/Mail\ icon.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    &--terms {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;

      a {
        color: $accent;
        font-size: 1.4rem;

        &:not(:last-child) {
          &::after {
            content: ", ";
          }
        }
      }
    }
  }
}
