// Gravity forms
.gform {
  position: relative;
  z-index: 1;
  min-height: 60rem;

  .gform_confirmation_message {
    color: $accent;
    font-size: 4rem;
    font-family: $gilroy_b;
    padding-top: 4rem;

    @include media-breakpoint-up(xl) {
      padding-top: 20rem;
    }
  }

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: $dark;
    height: 100%;
    width: 100vw;
    margin-bottom: 6.4rem;
  }

  &_title {
    color: $white;
    font-size: 4rem;
    line-height: 1;
    padding-right: 0.4rem;
    margin-bottom: 6.4rem;
    max-width: 65%;

    @include media-breakpoint-up(xl) {
      max-width: 100%;
      font-size: 6rem;
    }
  }

  &_wrapper {
    position: relative;
    margin-bottom: 8rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: 16rem;
    }
  }

  &_body {
    .gform_fields {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }

    .validation_message {
      display: none;
    }

    .gfield {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 3.6rem;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
      }

      textarea {
        height: 100px;
      }

      label {
        display: none;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $accent;
        background-color: transparent;
        color: $white;
        transition: $transition;
        font-size: 1.6rem;
        padding: 0;

        &::placeholder {
          color: $white;
        }

        &:focus {
          color: $accent;
        }
      }
    }
  }

  &_footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;

    @include media-breakpoint-up(xl) {
      width: auto;
    }

    input[type="submit"] {
      background-color: transparent;
      color: $white;
      text-align: center;
      border: none;
      padding: 0;
      line-height: 1;
      border-bottom: 0.1rem solid $white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      top: -10rem;

      @include media-breakpoint-up(xl) {
        position: relative;
        bottom: 0;
        transform: none;
        left: inherit;
        top: inherit;
      }
    }
  }

  &_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.6rem;

    p {
      color: $white;
      font-weight: 700;
      margin-bottom: 0;
      margin-right: 16px;
    }

    a {
      margin-left: 16px;
      position: relative;
      display: flex;
      align-items: center;
      color: $white;
      padding-left: 2.6rem;

      &::before {
        content: "";
        background-image: url("../images/Call\ icon.svg");
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
      }
    }
  }
}

// contact template
body.template-contact {
  .gform_footer {
    position: relative;
    width: auto;
    right: inherit;
    bottom: 0;

    input[type="submit"] {
      font-size: 2.6rem;
      text-decoration: underline;
      padding: 0.1rem;
      width: 100%;
      top: 0;

      @include media-breakpoint-up(xl) {
        text-align: center;
        width: 100%;
      }
    }
  }

  .gfield_html {
    position: absolute;
    width: 100%;
    bottom: -12rem;

    @include media-breakpoint-up(xl) {
      bottom: -8rem;
    }

    .form__contact {
      text-align: center;
    }
  }
}

.gform_ajax_spinner {
  display: none !important;
}
