.wp-block-image {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8rem;

  .alignright,
  .alignleft,
  .aligncenter {
    margin: 0 0 0 1.6rem;
    float: none;
  }
}
