.pop-up {
  background: rgba($color: $dark, $alpha: 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;

  &__wrapper {
    max-width: 50rem;
    left: 50%;
    top: 50%;
    width: calc(100% - 3.2rem);
    transform: translate(-50%, -50%);
    position: fixed;
    background: $white;
    box-shadow: 0 1px 26px 0 rgba(28, 32, 41, 0.16);
    padding: 4rem;

    @include media-breakpoint-up(xl) {
      text-align: center;
    }
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;

    @include media-breakpoint-up(xl) {
      font-size: 4.8rem;
    }
  }

  &__sub-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3.6rem;
    display: block;

    @include media-breakpoint-up(xl) {
      font-size: 2.4rem;
    }
  }

  &__button {
    margin-bottom: 0;
  }

  &__content {
    margin-bottom: 2rem;

    * {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5; /* number of lines to show */
      -webkit-box-orient: vertical;
      line-height: 2;
      margin-bottom: 0;
    }
  }

  &__close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;

    span {
      position: absolute;
      height: 0.2rem;
      width: 2rem;
      background-color: $accent;
      top: 50%;
      left: 50%;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
