.section {
  &-about {
    position: relative;
    margin-bottom: 8rem;

    &::before {
      content: none;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate(-50%, -50%);
      z-index: 1000;
      background-image: url("../images/Beeldelement cirkels.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include media-breakpoint-up(lg) {
        content: "";
        width: 36rem;
        height: 36rem;
      }

      @include media-breakpoint-up(xl) {
        width: 72rem;
        height: 72rem;
        bottom: inherit;
        top: 90rem;
      }
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 24rem;
    }

    &__col {
      position: relative;
      z-index: 2;

      > .row {
        flex-direction: column;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
      }

      // Section about rechts licht blauw
      &.light {
        &::after {
          content: none;
          position: absolute;
          top: 32rem;
          z-index: -1;
          left: 0;
          width: 100vw;
          height: calc(100% - 32rem);
          background-color: $light;

          @include media-breakpoint-up(md) {
            content: "";
          }
        }
      }

      &--dark {
        &::before {
          content: "";
          position: absolute;
          right: 7rem;
          top: 0;
          height: 100%;
          width: 100vw;
          background-color: $dark;
          min-height: 40rem;

          @include media-breakpoint-up(md) {
            right: 0;
            min-height: 70rem;
          }
        }
      }

      // Section about onder licht blauw
      &--light {
        &::before {
          content: none;
          position: absolute;
          left: 13.8rem;
          top: -8rem;
          height: calc(100% + 8rem);
          width: 100vw;
          background-color: $light;
          z-index: 0;

          @include media-breakpoint-up(xl) {
            content: "";
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 6.5rem;
          width: 6.5rem;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1000;
          background-image: url("../images/Beeldelement Kruis.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          @include media-breakpoint-up(md) {
            content: none;
          }
        }
      }
    }

    &__content {
      position: relative;
      z-index: 99;
      padding-top: 12rem;
      padding-bottom: 12rem;

      @include media-breakpoint-up(md) {
        padding-top: 30rem;
        padding-bottom: 30rem;
      }
    }

    &__title-primary {
      margin: 0;
      line-height: 1;
      word-break: break-word;
      padding: 0 2.4rem 0 1.2rem;
      width: 80%;
    }

    &__bottom {
      padding: 0;

      .content {
        padding: 0 1.6rem;
        position: relative;
        background-color: $white;
        line-height: 1.75;

        @include media-breakpoint-up(md) {
          padding: 8rem;
          top: -10.4rem;
          min-height: 10.4rem;
        }

        @include media-breakpoint-up(xl) {
          top: -20.8rem;
          min-height: 20.8rem;
        }

        &::before {
          content: none;
          position: absolute;
          top: 0;
          transform: translate(-50%, -50%);
          z-index: 1000;
          background-image: url("../images/Beeldelement Kruis.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          @include media-breakpoint-up(lg) {
            content: "";
            left: 0;
            width: 10rem;
            height: 10rem;
          }

          @include media-breakpoint-up(xl) {
            right: 0;
            left: inherit;
            transform: translate(50%, -50%);
            width: 16.5rem;
            height: 16.5rem;
          }
        }

        input,
        textarea {
          color: $dark;

          &::placeholder {
            color: $dark;
          }
        }

        p {
          margin-bottom: 2.4rem;

          @include media-breakpoint-up(md) {
            margin-bottom: 7.2rem;
          }
        }

        .button {
          text-align: center;

          @include media-breakpoint-up(md) {
            text-align: left;
          }

          @include media-breakpoint-up(xl) {
            text-align: right;
          }
        }
      }
    }
  }

  &__image {
    &-1 {
      margin-top: -21.8rem;
      margin-bottom: 4rem;

      @include media-breakpoint-up(xl) {
        margin-top: 0;
        margin-bottom: 0;
      }

      img {
        max-height: 43.6rem;

        @include media-breakpoint-up(xl) {
          max-height: 100%;
        }
      }
    }

    &-2 {
      display: none;

      @include media-breakpoint-up(xl) {
        position: absolute;
        width: calc(100% - 8rem);
        bottom: -100%;
        left: -20.4rem;
        height: 100%;
        display: block;
      }
    }
  }
}

.vesteging-header {
  &::before {
    content: none;
  }

  .section-about__col {
    &::before {
      clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);

      @include media-breakpoint-up(md) {
        clip-path: none;
      }

      @include media-breakpoint-up(xl) {
        clip-path: polygon(0 0, 60% 0, 75% 100%, 0% 100%);
      }
    }

    &::after {
      content: "";
      bottom: 2.8rem;
      right: 1.6rem;
      width: 15rem;
      height: 9rem;
      position: absolute;
      background-image: url("../images/Beeldelement Driehoek.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include media-breakpoint-up(md) {
        width: 22.5rem;
        height: 13.5rem;
        right: -4.2rem;
        bottom: 4.2rem;
      }

      @include media-breakpoint-up(xl) {
        width: 30rem;
        height: 18rem;
        right: 13.5rem;
        bottom: 0;
        transform: translate(-50%, -4.5rem);
      }
    }
  }
}

body.template-contact {
  @include media-breakpoint-down(lg) {
    .section-about {
      &::before {
        content: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .section-about__bottom {
      background: $light;

      .section__image {
        max-width: 100%;
        margin-left: 0;

        &-1 {
          margin: -10rem 0 0;
          height: 19rem;
        }
      }

      .section-about__col--light::after {
        content: none;
      }

      .content {
        margin: -8rem 1.6rem 8rem;
        padding: 3.2rem 3.2rem 16rem;

        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          top: inherit;
          z-index: -1;
          transform: translate(50%, 50%);
          height: 24rem;
          width: 24rem;
          background-image: url("../images/Beeldelement cirkels.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

