.section {
  &-head {
    position: relative;

    &__col {
      position: relative;
      left: 0;
      background-color: $white;
    }

    &__svg {
      pointer-events: none;
      position: absolute;
      z-index: 1;
      right: 0;
      transform: scale(2);
    }

    &__content {
      bottom: 100%;
      height: 100%;
      background-color: $light;
      z-index: 10;
      padding: 4rem;

      @include media-breakpoint-up(lg) {
        position: relative;
      }

      @include media-breakpoint-up(xl) {
        bottom: calc(100% + 18rem);
        height: calc(100% + 18rem);
      }

      &::before {
        content: none;

        @include media-breakpoint-up(xl) {
          content: "";
          left: 0;
          bottom: 0;
          height: 18rem;
          width: 100%;
          background-color: white;
          position: absolute;
          padding: 0;
          z-index: -1;
        }
      }

      a {
        color: $accent;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__image {
      max-height: 100vh;
      padding: 0;

      @include media-breakpoint-up(xl) {
        padding: 0 16px;
      }

      img {
        position: relative;
        top: 0;
        left: 0;
        object-fit: cover;

        @include media-breakpoint-up(lg) {
          width: 100vw;
          height: 100%;
        }
      }

      .container {
        padding: 0;
      }
    }
  }
}
