.section {
  &-location {
    &__wrapper {
      position: relative;
      z-index: 1;
      padding-bottom: 4rem;
      margin-bottom: 4rem;

      &::before {
        content: "";
        right: 1.6rem;
        position: absolute;
        width: 100vw;
        height: calc(100% - 21.2rem);
        bottom: 0;
        background: $light;

        @include media-breakpoint-up(xl) {
          right: 1.6rem;
          left: 50vw;
        }
      }
    }

    &__title {
      margin-bottom: 1.2rem;
      font-size: 4.8rem;
      padding-left: 3.6rem;
      position: relative;
      transition: $transition;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        background: url("../images/Opsommingsteken\ kruis.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:hover {
        color: $accent;
        padding-left: 4.8rem;
      }

      @include media-breakpoint-up(xl) {
        position: absolute;
        z-index: 10;
        top: 6rem;
      }
    }

    &__image {
      margin-bottom: 4rem;
    }

    &__content {
      padding-left: 4.8rem;

      p,
      a,
      strong {
        font-size: 1.6rem;
        line-height: 1.75;
      }

      a {
        margin-bottom: 2.8rem;
        display: block;
      }

      @include media-breakpoint-up(xl) {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
