.section {
  &-partner {
    position: relative;
    top: 0;
    z-index: 0;
    margin-bottom: 0;

    &__col {
      position: relative;
      display: flex;
      align-items: center;
    }

    &__content {
      top: 0;
      height: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      @include media-breakpoint-up(xl) {
        padding: 32rem 0;
      }

      &::before {
        content: "";
        position: absolute;
        right: 1.6rem;
        width: 100vw;
        height: 100%;
        background-color: $light;

        @include media-breakpoint-up(xl) {
          left: 0;
        }
      }

      ul {
        margin-top: 17.2rem;
        margin-bottom: 8rem;

        @include media-breakpoint-up(xl) {
          padding: 0;
          margin-bottom: 0;
          flex-direction: row;
          margin-top: 0;
        }

        img {
          object-fit: contain;
          mix-blend-mode: multiply;
          width: auto;
          height: auto;
          margin-top: 3.6rem;

          @include media-breakpoint-up(xl) {
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
    }

    &__title {
      position: absolute;
      margin-top: 14rem;
      z-index: 10;
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      color: $dark;
      padding: 0 1.6rem;

      @include media-breakpoint-up(xl) {
        height: 100%;
        margin-top: 0;
      }
    }
  }
}
