.section {
  &-specialisms {
    position: relative;
    margin-top: 8rem;
    z-index: 10;

    &--light {
      margin-top: -12rem;
      z-index: 1;
      background-color: $light;
      padding-top: 12rem;

      @include media-breakpoint-up(xl) {
        padding-top: 0;
        background-color: $white;
      }
    }

    @include media-breakpoint-up(xl) {
      margin-top: -1.8rem;
    }

    &__title {
      font-size: 4rem;
      margin: 0 auto 3rem;

      @include media-breakpoint-up(xl) {
        font-size: 6rem;
        margin-bottom: 10.5rem;
      }
    }

    .button {
      display: block;
      cursor: pointer;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    &__list {
      column-count: 1;
      position: relative;
      margin-bottom: 5.6rem;
      transition: $transition;
      padding-left: 4.8rem;

      @include media-breakpoint-up(xl) {
        margin-bottom: 2rem;
        padding-left: 0;
      }

      &-button {
        max-height: 22.4rem;
        overflow: hidden;

        &.active {
          max-height: 100%;

          &::before {
            content: none;
          }
        }

        &::before {
          position: absolute;
          content: "";
          z-index: 1;
          left: 0;
          pointer-events: none;
          bottom: 0;
          right: 0;
          top: 0;
          background: rgb(255, 255, 255);
          background:
            linear-gradient(
              0deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );

          @include media-breakpoint-up(md) {
            content: none;
          }
        }
      }

      &-item {
        position: relative;
        padding-left: 2.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 2.4rem;
        transition: $transition;

        @include media-breakpoint-up(xl) {
          margin-bottom: 7.2rem;

          &:hover {
            padding-left: 3.6rem;
          }
        }

        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-image: url("../images/Opsommingsteken\ kruis.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 1rem;
          height: 1rem;
        }

        a {
          font-size: 1.8rem;
          line-height: 1;
          color: $dark;
          font-family: $gilroy-b;
          white-space: normal;

          @include media-breakpoint-up(xl) {
            font-size: 2.6rem;
          }
        }

        span {
          font-family: $gilroy-m;
          font-size: 2rem;
          white-space: nowrap;
        }
      }

      @include media-breakpoint-up(md) {
        column-count: 2;
        max-height: 100%;
        margin-bottom: 6.4rem;
      }

      @include media-breakpoint-up(xl) {
        column-count: 4;
        max-height: 100%;
        margin-bottom: 12.4rem;
      }
    }
  }
}
