.section {
  &-team {
    position: relative;
    z-index: 10;

    @include media-breakpoint-up(xl) {
      margin-bottom: -12rem;
    }

    &__content {
      margin-bottom: 4rem;

      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
        height: 66rem;
      }

      .button {
        text-align: center;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          text-align: left;
        }
      }
    }

    &__title {
      font-size: 4rem;
      line-height: 1;
      color: black;
      text-align: center;
      margin-bottom: 5.6rem;
      // margin: 0 auto 3rem;
      margin-top: 8rem;
      padding: 0 1.6rem;

      @include media-breakpoint-up(md) {
        text-align: center;
        margin: 8rem auto 5.6rem;
        font-size: 4.8rem;
        padding: 0;
        width: 70%;
      }

      @include media-breakpoint-up(lg) {
        text-align: left;
        width: auto;
        margin-top: 0;
      }

      @include media-breakpoint-up(xl) {
        font-size: 6rem;
      }
    }

    &__image {
      position: relative;
      width: 100vw;
      left: 0;
      height: 100%;

      @include media-breakpoint-up(xl) {
        position: absolute;
        width: 50vw;
        left: 50vw;
        display: flex;
        align-items: center;
      }

      img {
        width: 100%;
      }
    }

    &__col {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 25.6rem;
        height: 25.6rem;
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
        z-index: 1000;
        background-image: url("../images/Beeldelement cirkels.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include media-breakpoint-up(md) {
          content: none;
        }
      }

      @include media-breakpoint-up(xl) {
        padding-top: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: $light;

        @include media-breakpoint-up(lg) {
          content: none;
        }
      }
    }
  }
}
