.section-form {
  position: relative;

  &__content {
    position: relative;
  }

  &__image {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: -2.6rem;

    @include media-breakpoint-up(md) {
      right: 0;
    }

    @include media-breakpoint-up(xl) {
      height: 110%;
      right: initial;
      top: initial;
      bottom: 0;
      display: block;
    }

    img {
      width: 10rem;
      height: 100%;

      @include media-breakpoint-up(md) {
        width: 16rem;
      }

      @include media-breakpoint-up(xl) {
        width: auto;
        transform: translate(-50%);
      }
    }
  }

  &__svg {
    pointer-events: none;
    position: relative;
    z-index: 50;

    svg {
      display: none;

      @include media-breakpoint-up(xl) {
        position: absolute;
        right: 0;
        top: -20rem;
      }
    }
  }

  &__col {
    padding-top: 0;

    @include media-breakpoint-up(md) {
      padding-top: 4rem;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 0;
    }

    .gform_title {
      margin-top: 8rem;

      @include media-breakpoint-up(xl) {
        margin-top: 16rem;
      }
    }

    .gform_fields {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .gf_left_third {
      grid-area: 1 / 1;

      @include media-breakpoint-up(xl) {
        padding-right: 2rem;
        margin-bottom: 3.6rem;
      }
    }

    .gf_middle_third {
      grid-area: 2 / 1;

      @include media-breakpoint-up(xl) {
        padding: 0 2rem;
        grid-area: 1 / 2;
      }
    }

    .gf_right_third {
      grid-area: 3 / 1;

      @include media-breakpoint-up(xl) {
        padding-left: 2rem;
        grid-area: 1 / 3;
      }
    }

    .gfield:nth-child(4) {
      grid-area: 4 / 1;
      margin-bottom: 12rem;

      @include media-breakpoint-up(xl) {
        grid-area: 2 / 1 / 3 / 4;
        margin-bottom: 4rem;
      }
    }

    .gfield_html {
      text-align: center;
      grid-area: 5 / 1;

      @include media-breakpoint-up(xl) {
        text-align: left;
        grid-area: 3 / 1 / 3 / 4;
      }

      * {
        color: $white;
      }
    }
  }
}

.section-general {
  margin-top: 7.2rem;

  @include media-breakpoint-up(xl) {
    margin-top: 28rem;
    margin-bottom: 24rem;
  }

  &__content {
    min-height: 0;

    @include media-breakpoint-up(md) {
      min-height: 48rem;
    }

    @include media-breakpoint-up(xl) {
      min-height: 0;
    }
  }

  &__title {
    font-size: 6rem;
    -webkit-text-stroke: 0.1rem $dark;
    margin-bottom: 3.2rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: 6.4rem;
    }
  }

  &__social {
    display: flex;
    padding-bottom: 6rem;
    flex-direction: column;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      display: block;
    }

    &--item {
      margin-right: 4rem;

      @include media-breakpoint-up(xl) {
        margin-right: 0;
      }

      a {
        color: black;
        font-size: 2.4rem;
        line-height: 1.75;
        margin-bottom: 0;
        font-weight: bold;
      }
    }
  }
}

.section-copyright {
  background-color: $light;
  padding: 3.2rem 0;

  &__col {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    a {
      color: $dark;
      font-size: 1.8rem;

      &:first-child {
        margin-right: 4rem;

        @include media-breakpoint-up(md) {
          margin-right: 8rem;
        }
      }

      &:last-child {
        margin-top: 4rem;

        @include media-breakpoint-up(md) {
          margin-left: auto;
          margin-top: 0;
        }
      }

      svg {
        width: 7.2rem;
        height: 100%;
      }
    }
  }
}
