.site-header {
  position: relative;
  z-index: 100;
  padding: 2rem 1.6rem 0;

  @include media-breakpoint-up(xl) {
    padding: 2rem 1.6rem;
  }

  &__brand {
    z-index: 10000;

    img {
      max-width: 30rem;
    }

    @include media-breakpoint-up(lg) {
      margin: 3.6rem 0;
    }

    @include media-breakpoint-up(xl) {
      margin: 0;
    }
  }

  &__toggle {
    pointer-events: all;
    cursor: pointer;
    position: relative;
    z-index: 20;
    transition: $transition;
    flex-direction: column;
    display: flex;
    justify-content: center;

    .line {
      width: 4rem;
      height: 0.2rem;
      background-color: $dark;
      display: block;
      margin: 0.4rem auto;
      transition: $transition;
    }

    &.active {
      .line {
        margin: 0;

        &:nth-child(1) {
          transform: translateY(2px) rotate(45deg);
        }

        &:nth-child(2) {
          width: 0;
          transform: translateX(-2rem);
        }

        &:nth-child(3) {
          transform: translateY(-2px) rotate(-45deg);
        }
      }
    }
  }

  &__menu {
    margin-top: 4rem;
    position: absolute;
    left: 0;
    right: 1.6rem;
    z-index: 10;
    top: 8rem;

    @include media-breakpoint-up(lg) {
      top: 16rem;
    }

    @include media-breakpoint-up(xl) {
      top: 8rem;
    }

    &::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $white;
      max-width: 0;
      transition: max-width 0.4s ease-in-out;
    }

    @include media-breakpoint-up(xl) {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      display: flex;
      align-items: center;
      margin-top: 0;
    }

    .menu {
      transform: translateX(-30rem);
      opacity: 0;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      transition: all 0.4s ease-in-out;
      display: flex;
      width: 100%;
      max-width: 0;

      @include media-breakpoint-up(xl) {
        padding-left: 1.6rem;
        transform: translateX(0);
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 100%;
        opacity: 1;
      }

      &-primary-navigation-container {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
      }

      > .menu-item {
        padding-bottom: 3.6rem;
        margin-bottom: 3.6rem;
        position: relative;

        @include media-breakpoint-up(xl) {
          width: 260px;
          margin-left: 16px;
          text-align: right;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        &-has-children {
          @include media-breakpoint-up(xl) {
            padding: 0 3rem 0 0;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            max-height: 3.6rem;
            width: 3rem;
            background: url("../images/chevron_down.svg");
            background-position: center;
            background-repeat: no-repeat;
            transition: $transition;
            transform: rotate(0);

            @include media-breakpoint-up(xl) {
              top: 0;
            }
          }
        }

        > a {
          display: inline-block;
          font-size: 2rem;
          white-space: nowrap;
        }

        &:not(:last-child) {
          border-bottom: 0.1rem solid rgba($color: $dark, $alpha: 0.08);

          @include media-breakpoint-up(xl) {
            border: none;
          }
        }

        .sub-menu {
          position: relative;
          display: none;
          flex-direction: column;
          padding: 3.6rem 2.4rem 0;
          text-align: left;

          li {
            margin-bottom: 3.6rem;

            a {
              font-size: 1.8rem;

              @include media-breakpoint-up(xl) {
                font-size: 2rem;
              }
            }
          }
        }

        &.has-mega-menu {
          &:hover {
            .sub-menu {
              @include media-breakpoint-up(xl) {
                display: block;
                column-count: 3;
                padding: 8rem 4rem 4rem;
                position: fixed;
                left: calc(-8.3333% - 20px);
                right: 0;
                width: calc(100% - 3px);
                background: $white;
              }
            }
          }
        }

        &.has-dropdown {
          position: relative;

          &:hover {
            .sub-menu {
              @include media-breakpoint-up(xl) {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                background: $white;
              }
            }
          }
        }
      }
    }

    .site-header__menu--footer {
      position: fixed;
      opacity: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(100%);
      transition: none;
    }

    &.active {
      display: block;

      .menu-primary-navigation-container {
        height: 50vh;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        // scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .site-header__menu--footer {
        transition: all 0.4s ease-in-out 0.2s;
        opacity: 1;
        transform: translateY(0);

        .site-header__menu--social {
          background-color: $light;
          margin-bottom: 0;
          justify-content: space-evenly;
          padding: 3.6rem 0;
          font-weight: bold;
        }

        .site-header__menu--contact {
          background-color: $dark;
          margin-bottom: 0;
          justify-content: space-evenly;
          padding: 4rem 0;

          li {
            display: flex;
            padding: 0.8rem 2.4rem;

            a {
              padding-left: 3.2rem;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 2rem;
                height: 100%;
              }
            }

            &:first-child {
              background-color: $accent;
              border-radius: 4.8rem;

              a {
                color: $light;

                &::before {
                  mask: url("../images/Call\ icon.svg") no-repeat center;
                  mask-size: contain;
                  background-color: $dark;
                }
              }
            }

            &:last-child {
              border-radius: 4.8rem;
              background-color: transparent;
              border: 1px solid $accent;

              a {
                color: $accent;

                &::before {
                  background-color: $accent;
                  mask: url("../images/Mail\ icon.svg") no-repeat center;
                  mask-size: contain;
                }
              }
            }
          }
        }
      }

      &::before {
        max-width: 100%;
      }

      .menu {
        transform: translateX(0);
        opacity: 1;
        max-width: 100%;

        &-item.menu-item-has-children {
          cursor: pointer;

          &.active {
            &::before {
              transform: rotateX(180deg);
            }

            > .sub-menu {
              display: flex;
            }
          }
        }
      }
    }
  }

  &__contact {
    justify-content: flex-end;
    margin-right: 2rem;

    @include media-breakpoint-up(lg) {
      margin: 0;
      justify-content: start;
    }

    @include media-breakpoint-up(xl) {
      justify-content: flex-end;
      margin-bottom: 3.6rem;
    }

    .phone,
    .email {
      margin-right: 4.8rem;
      padding: 0 3.2rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    .phone {
      &::before {
        background: url("../images/Call\ icon.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .email {
      &::before {
        background: url("../images/Mail\ icon.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    @include media-breakpoint-up(xl) {
      margin: 0 0 3.6rem 0;
      justify-content: flex-start;
    }
  }

  &__contact,
  &__toggle {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__search {
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }
}

.search-form {
  position: relative;

  > input {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  label {
    width: 100%;

    &::after {
      content: "";
      background-image: url("../images/search.svg");
      background-repeat: none;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: 1.6rem;
      width: 16px;
      height: 16px;
    }

    .search-field {
      background-color: transparent;
      width: 100%;
      padding-bottom: 0.8rem;
      border: none;
      border-radius: 0;
      border-bottom: 0.1rem solid $accent;
    }
  }
}

.scroll-indicator {
  display: block;
  position: absolute;
  z-index: 20;
  left: 0;
  bottom: 24rem;
  color: $white;
  cursor: pointer;

  @include media-breakpoint-up(xl) {
    color: $dark;
    left: 6rem;
    bottom: 10rem;
  }

  &__tag {
    transform: rotate(270deg);
    transform-origin: 0 0;
    margin: 0;
    padding: 0;
  }

  svg {
    transform: translateY(-1rem);
    animation: indication infinite 3s ease-in-out;
    width: 32px;

    line,
    path {
      stroke: $white;

      @include media-breakpoint-up(xl) {
        stroke: $accent;
      }
    }
  }
}

@keyframes indication {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}
