.section-page {
  margin-bottom: 24rem;
}

body.template-intramed {
  .section-form {
    display: none;
  }
}

.intramed {
  z-index: 30;
  margin-top: 8rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}
