.timeline {
  &__item {
    font-size: 1.8rem;
    display: flex;
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    transition: $transition;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      max-width: 0;
      height: 0.1rem;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: $accent;
      transition: $transition;
    }

    &:hover {
      padding-left: 0.8rem;

      &::before {
        max-width: 100%;
      }
    }

    span {
      font-weight: bold;
      margin-right: 2.4rem;
    }
  }
}
