@import url("https://use.typekit.net/tnm6rti.css");

@font-face {
  font-family: "gilroy-bold";
  src:
    url("../fonts/gilroy-bold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-medium";
  src:
    url("../fonts/gilroy-medium-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-semi";
  src:
    url("../fonts/gilroy-semibold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
