html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: $sofia;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  * {
    font-size: 1.8rem;
  }

  &.menu-open {
    overflow-y: hidden;
    max-height: 100vh;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  // margin-bottom: 4rem;
}

.text {
  &--accent {
    color: $accent;
  }

  &--dark {
    color: $dark;
  }

  &--light {
    color: $light;
  }
}

::-moz-selection {
  background: $dark;
  color: $light;
}

::selection {
  transition: $transition;
  background: $dark;
  color: $light;
  -webkit-text-stroke: 0;
}

.section__svg {
  svg {
    display: none;
  }
}

body.tax-specialismen .row > .row {
  width: 100%;
}

.form__contact {
  text-align: center;

  @include media-breakpoint-up(xl) {
    text-align: left;
  }

  &--phone {
    padding-left: 3.6rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.8rem;
      height: 100%;
      background: url("../images/Call\ icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.validation_error {
  background-color: $dark;
  padding: 1.6rem;
  color: $accent;
  margin-bottom: 3.2rem;
}

.gfield_error {
  &:not(:last-child) {
    position: relative;
    color: $dark;

    &::before {
      content: "";
      width: 100%;
      max-width: 100% !important;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      pointer-events: none;
      background-color: rgba($color: $accent, $alpha: 0.1);
    }
  }
}

body#tinymce {
  margin: 12px !important;
}

body.template-contact {
  .section__image {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}

body.tax-specialismen {
  .section-about__content {
    padding: 18rem 0;

    @include media-breakpoint-up(lg) {
      padding: 18rem 0 30rem;
    }

    .title-primary {
      width: 100%;
      font-size: clamp(3.6rem, 5vw, 6rem);
    }
  }

  .section {
    &-about {
      &::before {
        top: inherit;
        bottom: -36rem;

        @include media-breakpoint-up(lg) {
          top: 56rem;
          bottom: inherit;
        }
      }

      &__col {
        &--dark {
          &::before {
            min-height: 32rem;

            @include media-breakpoint-up(lg) {
              min-height: 40rem;
            }
          }
        }
      }
    }
  }
}
