.section-search {
  .search-found {
    p {
      font-size: 1.8rem;
      padding-bottom: 3.6rem;
      border-bottom: 0.1rem solid rgba($color: $dark, $alpha: 0.08);
      margin-bottom: 2.4rem;
    }
  }

  article {
    header {
      padding-bottom: 3.6rem;
      border-bottom: 0.1rem solid rgba($color: $dark, $alpha: 0.08);
      margin-bottom: 2.4rem;

      a {
        font-size: 1.6rem;
        font-weight: bold;
      }

      time {
        font-size: 1.4rem;
        color: rgba($color: $dark, $alpha: 0.5);
      }
    }
  }
}
