h1 {
  font-family: $gilroy-b;
  font-size: 6rem;
  line-height: 6rem;
}

h2 {
  font-family: $gilroy-b;
  font-size: 4.8rem;
}

h3 {
  font-family: $gilroy-b;
  font-size: 4rem;
  line-height: 4rem;
}

h4 {
  font-family: $gilroy-b;
}

h5 {
  font-family: $gilroy-b;
}

h6 {
  font-family: $gilroy-b;
}

p,
input,
label {
  font-family: $sofia;
  font-size: 1.6rem;
  line-height: 1.75;
}

a {
  color: $dark;
  transition: $transition;
  line-height: 1.75;

  &:hover {
    color: $accent;
  }
}

.button {
  color: $accent;
  font-size: 2.6rem;
  text-decoration: underline;
  text-align: center;
  display: block;
  margin-bottom: 8rem;
  position: relative;
  z-index: 10;
}

.title-primary {
  line-height: 1;
  font-weight: 800;
  font-family: $sofia;
  color: white;
  font-size: clamp(4rem, 8vw, 12rem);

  @include media-breakpoint-between(md, lg) {
    font-size: 12rem;
  }

  &--outline {
    color: transparent;
    -webkit-text-stroke: 0.1rem $accent;
  }
}

.title {
  font-size: 4rem;

  @include media-breakpoint-up(xl) {
    font-size: 6rem;
  }

  &--accent {
    color: $accent;
  }
}

.content {
  *:not(.button) {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 2.8rem;
  }

  h6 {
    font-size: 2.4rem;
  }

  ul,
  ol {
    padding-left: 2rem;
    margin-bottom: 3.6rem;
    list-style: initial;
  }

  a {
    color: $accent;
  }
}
