/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$white: #fff;
$light: #f2f4f7;
$dark: #1c2029;
$accent: #ea5d10;

$sofia: "sofia-pro";
$gilroy-b: "gilroy-bold";
$gilroy-s: "gilroy-semi";
$gilroy-m: "gilroy-medium";

$transition: all 400ms ease-in-out;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$container-max-widths: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1640px
);
